@tailwind base;
@tailwind components;
@tailwind utilities;

.customGrid {
 display: grid;
 grid-template-columns: 45px 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-gap: 10px;
}

input[type="checkbox"]:checked + label {
 background: linear-gradient(to bottom right, #48bb78, #4299e1, #9f7aea);
}
